body{
    background-color: #f3f4f5 ;
    font-family: Arial, Helvetica, sans-serif; 
    text-size-adjust: 24px;
    margin: auto;
}
.header{
    border: 10px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}
.header_menu{
    color: rgb(0, 0, 0);
    display: flex ;
    justify-content: space-between;
    background-color: cadetblue;
}
.header_menu ul{
    display: flex;
}
.header_menu li{
    display: inherit;
}
.header_menu a{
    color: black;
    padding: 10px;
    font-weight: 700;
    text-decoration: none;
}
.header_menu a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.container{
    width: 1200px;
    margin: 0 auto;
    background-color: rgba(250, 246, 123, 0.514) ;
}
.banner{
    color: black;
    background-color:rgba(253, 255, 254, 0.979);
}
.banner .banner_hero {
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.banner_text_hero{
    padding: 100px 0 0 100px;
    font-family: Georgia; 
    font-size: 18px;
    color: #757575 ;
}
.ingredientes{
    
    display: flex;
    margin:  auto;
}
.ingredientes_box{
    display: flex;
    margin: 30px;
    box-shadow: 0px 1px 10px 1px grey;
    border-radius: 10px;
    width: 95%; 
}

.ingredientes_box img{
display: flex;
    border-radius:  10px;
}
.ingredientes_card{
    
    display: flex;
    margin: 30px;
    padding: 5px;
}
.exito_bandeja_paisa{ 
    display: flex;
    margin: auto;
}
.exito_box{
    font-family: Georgia; 
    font-size: 18px;
    color: #757575 ;
}
.Paso_a_paso{
    display: flex;
    margin: auto;
}
.pasos_box{
    font-family: Georgia; 
    font-size: 18px;
    color: #757575 ;
}

.footer{
    color: rgb(0, 0, 0);
    display: flex ;
    display: inherit;
}